/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

:root {
  --cinzento-fundo:#303030;
  /* --verde: #288E7D; */
  --branco: white;
  
}

html, body{
  overflow: hidden;
  border:0px;
  height: 100vh!important;
  width: 100vw!important;
  margin:0 !important;
  padding:0!important;
  border:0!important;
  color: white;
  font-family: 'Forum', serif;

}

.content{
  height: 100vh;
  width: 100vw;
}

#div1, #div2, #div3, #div4{
  background-color: var(--cinzento-fundo);
}


nav{
  background-color: #282828;
  position: fixed;
  z-index: 1;
  width: 100vw;
  font-size: 2.5vh;
  padding-top: 1.5% !important;
  height: 7.5vh;
  padding-bottom: 1.5% !important;
  text-align: center;

}



.navbar-collapse, .navbar-toggler{
  background-color:  #282828;
  border-radius: 0% !important;

}

#icon_nav, .navbar-toggler{
  color: white !important;
  font-size: 4vh;
  border: none;

}

.special{
  background-color: #282828;
  position: absolute;
  z-index: 9000;
  top: 0px;
  opacity: 0.5;
}

.special:hover{
  z-index: 9000;
  top: 0px;
  opacity: 1;
}


#navbarNav{
  width: 30vw;
  justify-content: center;
}



#navbarNav > ul, .nav-link{
  background-color: transparent !important;
}

.navbar{
z-index: 99;
height: 7.5vh;
}

.navbar .nav-link {
  color:white;
}

.icon{
  width: 12.5%;
  padding: 2%;
  filter: invert(100%) sepia(15%) saturate(121%) hue-rotate(240deg) brightness(100%) contrast(100%);
  

}

#jQ{
  width:10%;
  height:10.5%;
  filter: invert(0%) sepia(5%) saturate(12%) hue-rotate(240deg) brightness(1000%) contrast(100%);
}

/* Front Page - Top Section */
#me{
  text-align: center;
  color: var(--verde);
  font-size: 3.5vw;
  align-self: center;
  font-family: 'Marcellus SC', serif;
  font-weight: 400;

}

#me_div{
  padding-top: 0vh;
  padding-bottom: 2vh;
  margin-left:auto;
  margin-right:auto;

}

#MySQL{
  width:10%;
  height:10.5%;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(115deg) brightness(106%) contrast(101%);
}
/* Front Page | Central section */
#central{
  display: flex;
  height: calc(100vh - 7.5vh)
  
}

/* Front Page | Left section */
#left{
  width: 33%;
  align-self: center;
}

.main_text_h2{
  font-size: 2.5vw;
  font-family: 'Marcellus SC', serif;

}
  
.main_text_h3{
  font-size: 1.3vw;
  color: #408484;
  font-family: 'Forum', serif;
}

.main_text_h4{
  font-size: 1.1vw;
  color: rgb(223, 223, 223);
  font-family: 'Forum', serif;
}

#social_front_page{
  display:flex;
  justify-content:center;
}

#social_front_page li{
  display:flex;
  list-style-type: none;
  padding: 2%;
  font-size: 2.7vw;
  align-self: center;
}

#social_front_page .fa-linkedin{
color:#0077B5 ;
} 

#social_front_page .fa-square-github{
  color:white ;
  } 


#social_front_page li a .fa-linkedin:hover{
  color:  #222 !important;
}

#social_front_page li a .fa-square-github:hover{
  color:  #222;
}






/* Front Page | Middle section */
#middle{
  width: 34%;

  display: flex;
  flex-direction: column;
  justify-content:center;
}

#my_img{
  border-radius: 0% 10%;
  width: 100%;
  border: 3px solid transparent;
  animation-name: shadow;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  box-shadow: -5px 0px 10px 1px #0077b5;
}

@keyframes shadow {
  0%   {box-shadow: -5px 0px 10px 1px #0077b5;
  border-top: 3px solid transparent;}
  12.5% {box-shadow: -2.5px 2.5px 15px 1px #00afb5;
    border-radius: 2.5% 5% 2.5%;}
  25%  {box-shadow: 0px 5px 10px 1px #00afb5;
    border-radius: 5% 10% 5%;
    border-left: 3px solid transparent;}
  37.5%{box-shadow: 2.5px 2.5px 15px 1px #00afb5;
    border-radius: 7.5% 5% 7.5%;}
  50%  {box-shadow: 5px 0px 10px 1px #6edabf;
  border-radius: 10% 0% 10%;
  border-bottom: 3px solid transparent;}
  62.5%{box-shadow: 2.5px -2.5px 13px 1px #22878a;
    border-radius: 7.5% 5% 7.5%;}
  75% {box-shadow: 0px -5px 10px 1px #00afb5;
    border-radius: 5% 10% 5%;
    border-right: 2px solid transparent;}
  87.5%{box-shadow: -2.5px -2.5px 12px 1px #00afb5;}
  100% {box-shadow: -5px 0px 10px 1px #0077b5;}
}

@keyframes border {
  0%   {border-radius: 15%}
  25%  {border-radius: 0%;}
  50%  {border-radius: 7.5%;}
  100% {border-radius: 15%;}
}


/* Front Page | Right section */
#right{
  /* background-color: green; */
  width: 33%;
  align-self: center;
}

#img_teste{
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(299deg) brightness(124%) contrast(114%);
  width: 30%;
}

#moving_icon{
  margin: 0.5vw;
  height: 5vw;
  width: calc(10vw/10vh);
}


#stack_ref{
  color: 	gold;
  font-size: 1.3vw;
  /* font-weight: bold; */
  font-style: italic;
  letter-spacing: 1px;
}

#mystack{
  width: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home:hover{
  color:white;
}

.current_div{

  border-radius: 5% 5% 5% 5%;

  background-color: rgb(46, 47, 47) !important;

}

.Projs{
  display:flex;
  overflow-x: scroll;
}

.project{
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5%;
}

.project a{
text-decoration: underline;
text-decoration-color: #0077b5;
}

.project p{
  font-size: 2vh;
}

#img_gif_png{
  height: 35vh;
  width: 30vw;
  border: 2px solid transparent;
  }
  
#img_gif_png:hover{
  height: 35vh;
  width: 30vw;
  border: 2px solid grey;
  }

#project_image{
  width: 35vh;
  height: 35vh;
}




.tab-content{
  z-index:0 ;
  display: flex;
  align-items: center;
}

/* Cores dos anchor div 2 */
.project a:link{
  color: #4E4E4E;
}

.project a:hover{
  color:grey;
}

/* Cores dos elementos da nav */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: grey;
  border-radius: 0%;
  color: white;

}

.navbar-nav{

  font-size: 1.25vw;
}

.navbar-nav li a:hover{
color: white;
font-weight: bolder;


}


.nav-link, .nav-link:hover {
  color: black;
  background-color: rgba(128, 128, 128, 0.245);
  
}

.nav-pills .nav-link {
  border-radius: 0%;
}

.alig_div2{
  display: flex;
  align-items: center !important;
  height: 100vh;
  padding-bottom: 5vh;

}


/* Cores scrollbar div 2 */
#div2 ::-webkit-scrollbar {
  width: 2vh!important;
  height: 2vh;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
  
}

#div2 ::-webkit-scrollbar-thumb {

  border-radius: 0%;
  outline: 2px solid rgba(255, 255, 255, 0.552) !important;
  background-color: transparent;

}

#div2 ::-webkit-scrollbar-thumb:hover {
  outline-color:rgba(255, 255, 255, 0.552); 
} 

.tab-pane {
  padding-bottom: 1.5vh;
  padding-right: 1.2vw;
}

#v-pills-tab{
  background-color: #282828;
}

#v-pills-tab{
  background-color: #282828;
  font-size: 1.25vw;
  width: 8%;
}

#v-pills-tab button:not(.active){

  color:grey !important;
  font-size: 1.2vw;

}

#v-pills-tab .active{
  background-color: rgba(46, 47, 47, 0.449) !important;
  color: white !important;
  border-left: 10px solid #4a839f;
  color: white !important;
}

.flexed{
  display: flex;
  height: 100%;
  align-items: end;
}

.project h1{
  color: white
}

.project a,{
  color: red;

}



/* Third Section - Carousel */
#carouselExampleCaptions{

  max-height:100%;
  max-width:100%;
  padding: 0; 
  border: 0 !important;
  margin:0;
}

.carousel-caption {
  font-size: 100%;
  color: white!important; 
  background-color: black;
  opacity: 0.7;
  width: 100%;
  left:0;
  bottom: 7%;
} 


.carousel-inner img{
  object-fit: cover;
  width:100vw;
  height: 94vh;
  
} 

.carousel-control-next-icon, .carousel-control-prev-icon{
  height: 7vh !important;
  width: 6vh !important;
  border-radius: 10%;
  background-color: black !important;
  opacity: 0.8;
}

/* Imagem paisagem na div 3 */
#img_so{
  object-fit: scale-down;
}

.h5_text_div3{
  font-size: 1.7vw;
  font-weight: bold ;  
}

.p_text_div3{
  font-size: 1.4vw;
  padding: 0% 1vw;
}


/* Fourth Section */
/* Personalizar icons no Contacts */
#socials ul {
  display: flex;
  margin-top: 10%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0 !important;
  
}
#socials ul li {
  position: relative;
  list-style: none;
  cursor: pointer;
  padding: 1vw;
  
}
#socials ul li a {
  text-decoration: none;
}
#socials ul li a .fa-brands, .fa-solid, .fa-map-marker-alt {
  font-size: 3vw;
  color: #222;
}
#socials ul li a::before {
  font-family: "FontAwesome";
  position: absolute;
  font-size: 3vw;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

#socials ul li:nth-child(1) a::before {
  font-size: 3vw;
  content: "\f08c";
  color: #0077B5;
  border-bottom: 4px solid #0077B5;
  top: 0.2vw;
}

#socials ul li:nth-child(2) a::before {
  font-size: 3vw;
  content: "\f092";
  color: white;
  border-bottom: 4px solid white;
  top: 0.2vw;
}

#socials ul li:nth-child(3) a::before {
  font-size: 3vw;
  content: "\f16d";
  background-image: linear-gradient(45deg, 
    #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
    #bc1888 100%);
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  border-bottom: 4px solid #dc2743;
  top: 0.2vw;
  
}

#socials ul li:hover a::before {
  height: 9rem;
}



#body_contacts{
  margin:1%;
  padding-top:0%;

}

#text_stack{
  padding:0;
  margin: 0;
  border:0;
  text-align: center;
}



#contacts_talk{
  padding: 9vh;
}


/* Last Page - Contacts (adress/email) */

#email , #address {
  text-align: center;
  background-color: grey;
  opacity: 1;
  padding: 4%;
  width: 15vw;
  overflow: auto;
}

#direct_contact{
	display: flex;
  justify-content:center !important;
  gap: 3vw;
  padding-bottom: 5vh;
}

#email i, #address i{
  color: #303030;
  padding-bottom: 1.5vh;

}

#email>a,p{
  text-decoration: none !important;
}


.address_email{
  color: white !important;
  font-size: 1.2vw !important;
  text-decoration: none !important;
}

#all_end_page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Second Section */

#publisher{
  font-size: 1.0vw;
}

#publisher:active{
  color:grey !important;
  font-size: 1.1vw;
}

.icons_acess{
  color: white;
  font-size: 1vw;
  
}
.icons_acess a{
  text-decoration: none;
  cursor: pointer;
}

#acess{
  display: flex !important;
  justify-content:center !important;
  gap: 3vw  !important;
  padding-top: 1vw;
}

#v-pills-home, #v-pills-profile, #v-pills-messages, #v-pills-settings{
  width: 85vw!important;
  overflow-x: scroll!important;
 
}

.pdfs{
  height: 70vh;
  /* width: 100%; */
  overflow-y: scroll;
  padding-right: 1vh !important;

  /* padding-right: 0.2vw;
  margin-bottom: 0.7vh; */

}

.react-pdf__Document{
  padding-right: 0.2vw !important;
}
.pdfs_div{
  display:flex !important;
  gap: 1vw;
  width: 1000%;
  align-items: center;

}

.h1_pdfs{
  padding-bottom: 1%;
}


#h1_projects_title{
font-size: 2.2vw;
}


/* Querys */
@media only screen and (max-width: 1440px) {
  .pdfs{
    height: 65vh;
    padding-bottom: 10vh;
  }
  .react-pdf__Document{
    padding-bottom: 0.2vw !important;
  }

  .h5_text_div3{
    font-size: 1.9vw;
  }
  .p_text_div3 {
    font-size: 1.3vw;
    padding: 0% 1vw
  }
}

@media only screen and (max-width: 1440px) {
  .pdfs{
    height: 65vh;
    padding-bottom: 10vh;
  }
  .react-pdf__Document{
    padding-bottom: 0.2vw !important;
  }

  #img_gif_png{
    height: auto;
  }

  #img_gif_png:hover{
    height: auto;
  }

  .h5_text_div3{
    font-size: 1.9vw;
  }
  .p_text_div3 {
    font-size: 1.3vw;
    padding: 0% 1vw
  }

}

@media only screen and (max-width: 768px) {
  #img_gif_png{
    height: auto;
  }

  #img_gif_png:hover{
    height: auto;
  }

  .react-pdf__Page__canvas{
    width: 100% !important;
    /* width: 100%; */
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 426px) {
  #img_gif_png{
    height: auto;
  }

  #img_gif_png:hover{
    height: auto;
  }

  .react-pdf__Page__canvas{
    width: 100% !important;
    /* width: 100%; */
    overflow-y: scroll;
  }

  #central{
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content:center;
}

  #my_img{
    width: 150%;
  }

  #middle, #left, #right{
    align-items: center;
    justify-content:center;
  }
  .main_text_h2{
    font-size: 4vw;
  }
  .main_text_h3{
    font-size: 2.5vw;
  }
  .main_text_h4{
    font-size: 2.2vw;
  }
  
  #social_front_page li {
    font-size: 3.7vw;
  }

  #me{
    font-size: 4.5vw;
  }
  #right #mystack{
    display: flex;

    padding-top: 5px;
  }

  #text_stack{
    padding-top: 10px;
    padding-right: 10px;
  }
  
  #stack_ref{
    font-size: 10px;
  }

  #icons{
    display: none;
  }
}



