body{
  /* overflow: hidden; */
  border:0px;
}

.content{
  height: 100vh;
  width: 100%;
  border-bottom: 10px solid black;
}

#div1{
  background-color: BLUE;
  
}

#div2{
  background-color: red;
  
}

#div3{  background-color: green;
  
  
}

#div4{
  background-color: yellow;
  
}
